{% extends "base.html" %}
{% block title %}Courses{% endblock %}
{% block content %}
<title>courses:</title>

<a href="{{ url_for('ratings.ratings') }}" class="register-link">Courses</a>

<a href="{{ url_for('courses.courses', sort='rating', desc='0') }}">Sort by Rating (Asc)</a> |
<a href="{{ url_for('courses.courses', sort='rating', desc='1') }}">Sort by Rating (Desc)</a>

<table>
    <tr>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Description</th>
        <th>Average Rating</th>
    </tr>
    {% for course in courses %}
        <tr>
            <td>
                <a href="{{ url_for('courses.course_detail', course_id=course.id) }}">
                    {{ course.id }}
                </a>
            </td>
            <td>{{ course.name }}</td>
            <td>{{ course.description }}</td>
            <td>
                {% if course.avg_rating is not none %}
                    {{ course.avg_rating|round(2) }}
                {% else %}
                    No ratings
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}