{% extends "base.html" %}
{% block title %}Courses{% endblock %}
{% block content %}
<title>Ratings</title>

<h1>All Ratings</h1>
<form method="get" action="{{ url_for('ratings.ratings') }}" style="margin-bottom: 1em;">
    <input type="text" name="q" placeholder="Search by course name or ID" value="{{ request.args.get('q', '') }}">
    <button type="submit">Search</button>
</form>

<table>
    <tr>
        <th>KU ID</th>
        <th>Course ID</th>
        <th>Term</th>
        <th>Timestamp</th>
        <th>Score</th>
        <th>Comment</th>
    </tr>
    {% for rating in categories %}
    <tr>
        <td>{{ rating.ku_id }}</td>
        <td>{{ rating.kursus_id }}</td>
        <td>{{ rating.term }}</td>
        <td>{{ rating.time_stamp }}</td>
        <td>{{ rating.score }}</td>
        <td>{{ rating.comment }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}